html,
body {
  font-family: "Hanken Grotesk", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  max-width: 700px;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(0, 0%, 100%);
  border-radius: 30px;
  box-shadow: 20px 20px 30px 0.1px hsla(234, 85%, 45%, 0.103);
}

.circle {
  text-align: center;
  white-space: nowrap;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 100%;
  color: hsl(241, 100%, 89%);
  padding: 45px 55px;
  line-height: 1.15;
  font-weight: 700;
}
.big-number {
  color: white;
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
}
.left-wrapper {
  flex: 1;

  display: grid;
  align-items: center;
  justify-items: center;
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  text-align: center;
  border-radius: 30px;
  color: hsl(0, 0%, 100%);
}
.left-wrapper p {
  font-size: 18px;
  margin: 0px 30px 40px 30px;
  color: hsl(241, 100%, 89%);
}

.left-wrapper h1 {
  font-size: 1.5rem;
  color: hsl(241, 100%, 89%);
}
.left-wrapper h2 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
}
.right-wrapper {
  flex: 1;
  display: grid;
  padding: 0px 30px;
  align-items: center;
  background: hsl(0, 0%, 100%);
  border-radius: 30px;
}
.summary {
  font-size: 1.5rem;
  justify-items: flex-start;
  margin: 0;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  align-content: space-evenly;
  justify-self: center;
  padding: 65px 55px;
}
.row {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  justify-content: space-between;
}
.row span {
  font-weight: 700;
}
.icon {
  display: flex;
  gap: 12px;
}
.icon span {
  font-weight: 700;
}
.red {
  color: hsl(0, 100%, 67%);
}
.yellow {
  color: hsl(39, 100%, 56%);
}
.green {
  color: hsl(166, 100%, 37%);
}
.purple {
  color: hsl(234, 85%, 45%);
}
#red {
  background-color: hsla(0, 100%, 67%, 0.05);
}

#yellow {
  background-color: hsla(39, 100%, 56%, 0.05);
}

#green {
  background-color: hsla(166, 100%, 37%, 0.05);
}

#purple {
  background-color: hsla(234, 85%, 45%, 0.05);
}
.gray {
  margin-left: 5px;
  color: hsl(240, 0%, 55%);
}
button {
  background-color: black;
  color: white;
  padding: 20px 0px;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}

button:focus {
  outline: none;
}

button:active {
  background: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}
@media (max-width: 376px) {
  .card-container {
    min-height: 100%;
    display: grid;
  }
  .left-wrapper {
    border-radius: 0px 0px 30px 30px;
  }
  .left-wrapper h2 {
    color: white;
    font-size: 1.75rem;
    font-weight: 700;
  }
}
